<h1>Log In Below:</h1>

<form method= 'post' action= '/sessions'>


<h1>email: <input type="text" id="email" name="email"></h1><br>
<h1>password: <input type="text" id="password" name="password"></h1><br>

<p><input id="submit" type="submit" value="Log In"></p>
</form>