<h1>Sign Up Below:</h1>


<form method= 'post' action= '/registrations'>

<h1>Name: <input type="text" id="name" name="name"></h1><br>
<h1>Email: <input type="text" id="email" name="email"></h1><br>
<h1>Password: <input type="text" id="password" name="password"></h1><br>

<p><input id="submit" type="submit" value="Sign Up"></p>
</form>